@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.bg-green {
    background-color: #2f3e46;
}

.text-title {
    font-family: 'Joan', serif;
    font-size: 1.2em;
}

.text-title-h3 {
    font-family: 'Joan', serif;
    font-size: 1.6em;
}


.text-p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.red-width {
    width: 32px;
    height: auto;
}